GITHUB_PERSONAL_ACCESS_TOKEN=your_github_token_here
# OPENAI_API_KEY=your_openai_api_key_here

GOOGLE_API_KEY=your_google_api_key_here

GROQ_API_KEY=your_groq_api_key_here

LLM_PROVIDER=gemini

LIGHTNING_API_KEY=your_lightning_api_key_here

# Format(for custom models): https://lightning.ai/raghav-56/model-apis/models/your-model-id
LIGHTNING_BASE_URL=https://lightning.ai/api/v1

# Model name (optional)
MODEL="models/gemini-3-pro-preview"

GITHUB_APP_PRIVATE_KEY="your_github_app_private_key_here"

MCP_LOG_LEVEL=debug
